@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project was created to satisfy the following requirements:</p>
<p>Design and implement a simple issue tracking system (bug tracker). Required functionalities:</p>

<li>User registration (and optionally user profiles) / login / logout.</li>
<li>View all issues (optionally with paging), without login.</li>
<li>View issue details, without login.</li>
<li>Create new issue (after login). Issues have title, description, author, state and submission date and time. States are: New, Open, Fixed and Closed. Optional functionalities:</li>
<li>Edit issue (after login). Can change only title, description and state.</li>
<li>Add new comment for existing issue by visitors – each visitor must fill out his name and comment text.</li>
<li>Add new comment for existing issue by visitors – each visitor must fill out his name and comment text.</li>
<li>Implement a sidebar holding a list of all issues states. Clicking at issue state shows all issues matching this state.</li>
<li>Functionality for searching by title (as substring).</li>
<li>Admin panel: add / edit / delete issues and comments, etc.</li>
<br />
<p>Created by Petar Georgiev. Student ID 800049322.</p>