@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Izgrev residential area<br />
    Sofia, 15-17 Tintyava str, fl. 1<br />
    <abbr title="Phone">P:</abbr>
    +359 899 55 55 92
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bugtracker.lab">Support@bugtracker.lab</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bugtracker.lab">Marketing@bugtracker.lab</a>
</address>